
.panzer {
	color: back;
	font-size: 45px;
	font-family: sans-serif;

}

.zombie {
	color: red;
	text-decoration: none;
	font-size: 30px;
	border:2px;
	border-color: black;
	border-style: solid;
}

.bottom{
	color: red;
	font-size: 15px;
	border-radius: 15px;
	border: 10px;
}

#mailcount{
	color: black;
	float: right;
}

.mailcontent{
	display: none;
}